:root {
  --text-title-color: #252b42;
  --text-main-color: #737373;
  --btn-text-main-color: #ffffff;
  --btn-text-second-color: #0d5c63;
  --btn-bg-main-color: #ff7b47;
  --bg-main-color: #fafafa;
  --bg-secondary-color: #ffffff;
  --bg-dark-color: #252b42;
}

body {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;

  color: var(--text-main-color);
  background-color: var(--bg-main-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 80px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1080px;
  margin: 0 auto;
  padding: 0 15px;

  outline: 1px solid tomato;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- header ----- */

.header {
  background-image: url(../images/banner-bg.jpg);
  background-size: 1440px 793px;
  background-repeat: no-repeat;
  background-position: top center;
}

.header > .container {
  display: flex;
  padding: 23px 136px;
}

.header-logo {
  display: inline-block;

  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24);
  letter-spacing: 0.1px;

  color: var(--text-title-color);
  padding: 13px 0;
}

.header-nav {
  margin-left: 132px;
}

.nav-list {
  display: flex;
  gap: 21px;
}

.nav-link {
  display: inline-block;
  padding: 17px 0;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);
}

/* ----- banner ----- */

.banner-title {
  max-width: 509px;
  font-weight: 800;
  font-size: 58px;
  line-height: calc(80 / 58);
  color: var(--text-title-color);
}

.banner-text {
  max-width: 370px;
  margin-top: 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20);
}

.banner-list {
  display: flex;
  gap: 10px;
  margin-top: 45px;
}

.banner-button {
  padding: 10px 36px;

  border-radius: 37px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(28 / 14);
}

.banner-item:first-child > .banner-button {
  background-color: var(--btn-bg-main-color);
  color: var(--btn-text-main-color);
  border: 1px solid var(--btn-bg-main-color);
}

.banner-item:last-child > .banner-button {
  background-color: transparent;
  color: var(--btn-text-second-color);
  border: 1px solid var(--btn-text-second-color);
}

/* ----- features ----- */

.features {
  padding-top: 0;
  padding-bottom: 0;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  padding: 35px 40px;
  background-color: var(--bg-secondary-color);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.features-item:last-child {
  background-color: #0d5c63;
}

.features-icon {
  width: 48px;
  height: 48px;
  fill: var(--btn-text-second-color);
}

.features-item:last-child .features-icon {
  fill: var(--btn-text-main-color);
}

.features-sub-title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24);
  letter-spacing: 0.1px;
  color: var(--text-title-color);
}

.features-item:last-child .features-sub-title {
  color: var(--btn-text-main-color);
}

.features-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: calc(20 / 14);
}

.features-item:last-child .features-text {
  color: var(--btn-text-main-color);
}

/* ----- experience ----- */

.experience-title {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57 / 40);
  color: var(--text-title-color);
  text-align: center;
}

.experience-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: calc(20 / 14);
  text-align: center;
}

.experience-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.experience-item {
  padding: 30px 40px;
  text-align: center;
  background-color: var(--bg-secondary-color);
}

.experience-icon {
  width: 48px;
  height: 48px;
  fill: var(--btn-text-second-color);
}

.experience-sub-title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57 / 40);
  color: var(--text-title-color);
}

.experience-sub-text {
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.1px;
}

/* ----- practice advice ----- */

.practice-container {
  padding: 45px 0;
}

.practice-title {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57 / 40);
  color: var(--text-title-color);
  text-align: center;
}

.practice-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: calc(20 / 14);
  text-align: center;
}

.practice-list {
  display: flex;
  gap: 30px;
}

.practice-item {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  background-color: var(--bg-secondary-color);
}

.practice-sub-container {
  padding: 30px;
  flex-grow: 1;
}

.practice-sub-title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.1px;
  color: var(--text-title-color);
}

.practice-sub-text {
  margin-top: 15px;
  font-size: 14px;
  line-height: calc(20 / 14);
}

.practice-img {
  display: block;
}

/* ----- about us ----- */

.about {
  padding: 100px 0 136px 0;
  background-color: var(--bg-secondary-color);
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57 / 40);
  text-align: center;
  color: var(--text-title-color);
}

.about-text {
  margin-top: 15px;
  font-size: 14px;
  line-height: calc(20 / 14);
  text-align: center;
}

.about-icon {
  width: 32px;
  height: 32px;
}

.about-container {
  display: flex;
  margin-top: 100px;
}

.about-sub-container {
  margin-left: 120px;
}

.about-sub-title {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57 / 40);
  color: var(--text-title-color);
}

.about-sub-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: calc(20 / 14);
}

.about-list {
  margin-top: 30px;
}

.about-item {
  display: flex;
}

.about-item:last-child {
  margin-top: 30px;
}

.about-item-container {
  margin-left: 20px;
}

.about-item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.1px;
  color: var(--text-title-color);
}

.about-item-text {
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);
}

/* ----- clients ----- */

.clients {
  padding-top: 0;
  padding-bottom: 0;
}

.clients-list-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

/* ----- get in touch ----- */

.touch {
  padding-bottom: 148px;
}

.touch-title {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57 / 40);
  color: var(--text-title-color);
  text-align: center;
}

.touch-text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14);
  text-align: center;
}

.touch-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.touch-item {
  padding: 50px 40px;
  background-color: var(--bg-secondary-color);
  text-align: center;
  color: var(--text-title-color);
  fill: var(--btn-text-second-color);
}

.touch-item:nth-child(even) {
  background-color: var(--bg-dark-color);
  padding-top: 80px;
  padding-bottom: 80px;
  color: #ffffff;
  fill: #ffffff;
}

.touch-icon {
  width: 72px;
  height: 72px;
}

.touch-first-mail {
  display: inline-block;
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: inherit;
}

.touch-second-mail {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: inherit;
}

.touch-list-text {
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.1px;
  color: inherit;
}

.touch-list-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: inherit;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);

  border-color: var(--btn-bg-main-color);
  border-radius: 5px;

  color: var(--btn-bg-main-color);
}

/* ----- footer ----- */

.contact-us {
  background-color: var(--bg-secondary-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-us > .container {
  display: flex;
  justify-content: space-between;
}

.contact-us-title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24);
  letter-spacing: 0.1px;
  color: var(--text-title-color);
}

.contact-us-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: calc(20 / 14);
}

.contact-us-btn {
  padding: 15px 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(28 / 14);
  color: var(--btn-text-main-color);
  background-color: var(--btn-bg-main-color);
  border: none;
  border-radius: 5px;
}

.main-info {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--bg-dark-color);
}

.main-info > .container {
  display: flex;
  gap: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--bg-secondary-color);
}

.main-info-sub-container:last-child .main-info-link {
  display: flex;
  align-items: center;
}

.main-info-title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.1px;
}

.main-info-sub-list {
  margin-top: 20px;
}

.main-info-item:not(:first-child) {
  margin-top: 10px;
}

.main-info-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: #8ec2f2;
}

.rights {
  border-color: var(--bg-secondary-color);
  padding-top: 25px;
  padding-bottom: 25px;
}
.rights > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rights-title {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);
}
.rights-list {
  display: flex;
  gap: 20px;
}
.rights-item {
}
.rights-link {
  display: flex;
  align-items: center;
}
.rights-icon {
  width: 24px;
  height: 24px;
}
